---
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { getCollection } from "astro:content";
import PageFind from "@components/PageFind.astro";

const pages = await getCollection("pages");
---

<header class="page-header">
    <div class="container">
        <div class="flex flex-wrap gap-y-2 justify-between items-center">
            <Link href={import.meta.env.BASE_URL} underline={false}>
                <div class="font-semibold">
                    {SITE.NAME}
                </div>
            </Link>
            <PageFind />
            <nav class="flex gap-1 lowercase [&_a]:underline">
                <Link href=`${import.meta.env.BASE_URL}posts/`>статьи</Link>
                {
                    pages &&
                        pages.length &&
                        pages.map((page) =>
                            page.data.Title != "Index" ? (
                                <>
                                    <span>/</span>
                                    <Link href={`${import.meta.env.BASE_URL}${page.slug}/`}> {page.data.Title} </Link>
                                </>
                            ) : (
                                ""
                            )
                        )
                }
            </nav>
        </div>
    </div>
</header>
